body{
	font-family: 'Gowun Dodum', sans-serif;
	
}

#title{
	text-align: center;
}

.search{
	margin-top: 5%;
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
}

	#searchType{
		height: 40px;
		border: none;
		border-bottom: 1px solid gray;
		border-radius: 0;
	}
	
	#keywordInput{
		width: 350px;
		height: 40px;
		margin-left: 1%;
		border: none;
		border-bottom: 1px solid gray;
	}
	
	#searchBtn{
		margin-left: 1%;
		text-align: center;
		border-radius: 5px;
	}
	
	.button-8{
		  width:100px;
		  height:40px;
		  border:2px solid #34495e;
		  float:left;
		  text-align:center;
		  cursor:pointer;
		  position:relative;
		  box-sizing:border-box;
		  overflow:hidden;
		  margin:0 0 40px 50px;
		}
	.button-8 a{
	  font-family:arial;
	  font-size:16px;
	  color:#34495e;
	  text-decoration:none;
	  line-height:40px;
	  transition:all .5s ease;
	  z-index:2;
	  position:relative;
	}
	.eff-8{
	  width:100px;
	  height:50px;
	  border:0px solid #ffc1ab;
	  position:absolute;
	  transition:all .5s ease;
	  z-index:1;
	  box-sizing:border-box;
	  border-radius: 5px;
	}
	.button-8:hover .eff-8{
	  border:70px solid #ffc1ab;
	}
	.button-8:hover a{
	  color:#fff;
	}

.mt-2 a strong{
	font-size: 20px;
	
}

.col-md-4{
	text-align: center;
}

#page{
	text-align: center;
	margin-top: 2%;
}

#writeBtn{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-end;
}