<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qa.mapper.QAMapper">

	<insert id="create">
		insert into qa (bno, title, content, memberid, regDate, viewcnt, replycnt)
		values(QA_BNO_SEQ.NEXTVAL, #{title},#{content}, #{memberid}, sysdate, 0, 0)
	</insert>

	<select id="read" resultType="qa.domain.QAVO">
		select
		bno, title, content, memberid, regdate, viewcnt , replycnt
		from
		qa
		where bno = #{bno}
	</select>

	<select id="listAll" resultType="qa.domain.QAVO">
 <![CDATA[
 select 
   bno, title, content, memberid, regdate, viewcnt 
 from 
   qa 
 where bno > 0 
 order by bno desc, regdate desc
 ]]>
	</select>

	<select id="listPage" resultType="qa.domain.QAVO">
 <![CDATA[
select *
from(
	select A.*, rownum as rnum
	from(

		select 
			bno, title, content, memberid, regdate, viewcnt , replycnt
		from 
			qa 
		where bno > 0 
		order by bno desc, regdate desc

		) A
		where rownum <= #{page} + 10
	)
where rnum > #{page}
]]>
	</select>

	<select id="listCriteria" resultType="qa.domain.QAVO">
 <![CDATA[
select *
from(
	select A.*, rownum as rnum
	from(
 
		select 
			bno, title, content, memberid, regdate, viewcnt , replycnt
		from 
			qa 
		where bno > 0 
		order by bno desc, regdate desc

		) A
		where rownum <= #{pageStart} + #{perPageNum}
	)
where rnum > #{pageStart}
 ]]>
	</select>


	<update id="update">
		update qa set title =#{title}, content =#{content}
		where bno = #{bno}
	</update>

	<delete id="delete">
		delete from qa where bno = #{bno}
	</delete>



	<select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(bno) 
 from 
   qa 
 where 
   bno > 0 
 ]]>
	</select>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and content like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				and memberid like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like '%'||#{keyword}||'%' OR content like
				'%'||#{keyword}||'%')
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like '%'||#{keyword}||'%' OR memberid like
				'%'||#{keyword}||'%')
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like '%'||#{keyword}||'%'
				OR
				content like '%'||#{keyword}||'%'
				OR
				memberid like '%'||#{keyword}||'%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="qa.domain.QAVO">
<![CDATA[
select *
from(
	select A.*, rownum as rnum
	from(

		select
			bno, memberid, title, content, regdate, viewcnt, replycnt
		from qa 
		where bno > 0 
]]>

		<include refid="search"></include>
  
<![CDATA[    
		order by bno desc
		) A
		where rownum <= #{pageStart} + #{perPageNum}
	)
where rnum > #{pageStart}
]]>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(bno) 
  from qa 
  where bno > 0 
]]>
		<include refid="search"></include>

	</select>


 
<update id="updateReplyCnt">
  update qa set replycnt = replycnt + #{amount} where bno = #{bno}
</update>


<update id="updateViewCnt">
  update qa set viewcnt = viewcnt +1 where bno = #{bno}
</update>


 
<insert id="addAttach">
insert into qa_attach(fullname, bno) values (#{fullName}, LAST_INSERT_ID())
</insert> 


<select id="getAttach" resultType="string">
select fullname from qa_attach where bno = #{bno} order by regdate
</select> 

 
<delete id="deleteAttach">
delete from qa_attach where bno = #{bno}
</delete>

<insert id="replaceAttach">
insert into qa_attach(fullname, bno) values (#{fullName}, #{bno})
</insert>
  
 
</mapper>
