<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qa.mapper.QAMapper">

	<insert id="qa_create">
		insert into QA (title, content, memberid)
		values(#{title},#{content}, #{memberid})
	</insert>

	<select id="qa_read" resultType="qa.domain.QAVO">
		select
		bno, title, content, memberid, regdate, viewcnt , replycnt
		from
		QA
		where bno = #{bno}
	</select>

	<select id="qa_listAll" resultType="qa.domain.QAVO">
 <![CDATA[
 select 
   bno, title, content, memberid, regdate, viewcnt 
 from 
   QA 
 where bno > 0 
 order by bno desc, regdate desc
 ]]>
	</select>

	<select id="qa_listPage" resultType="QAVO">
 <![CDATA[
 select 
   bno, title, content, memberid, regdate, viewcnt , replycnt
 from 
   QA 
 where bno > 0 
 order by bno desc, regdate desc
 limit #{page}, 10
 ]]>
	</select>

	<select id="qa_listCriteria" resultType="QAVO">
 <![CDATA[
 select 
   bno, title, content, memberid, regdate, viewcnt , replycnt
 from 
   QA 
 where bno > 0 
 order by bno desc, regdate desc
 limit #{pageStart}, #{perPageNum}
 ]]>
	</select>


	<update id="qa_update">
		update QA set title =#{title}, content =#{content}
		where bno = #{bno}
	</update>

	<delete id="qa_delete">
		delete from QA where bno = #{bno}
	</delete>



	<select id="qa_countPaging" resultType="int">
 <![CDATA[
 select 
   count(bno) 
 from 
   QA 
 where 
   bno > 0 
 ]]>
	</select>



	<sql id="qa_search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and memberid like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR memberid like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content like CONCAT('%', #{keyword}, '%')
				OR
				memberid like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="qa_listSearch" resultType="QAVO">
<![CDATA[  
  select * 
  from QA 
  where bno > 0 
]]>

		<include refid="qa_search"></include>
  
<![CDATA[    
  order by bno desc
  limit #{pageStart}, #{perPageNum}
]]>
	</select>

	<select id="qa_listSearchCount" resultType="int">
<![CDATA[  
  select count(bno) 
  from QA 
  where bno > 0 
]]>
		<include refid="qa_search"></include>

	</select>


 
<update id="qa_updateReplyCnt">
  update QA set replycnt = replycnt + #{amount} where bno = #{bno}
</update>


<update id="qa_updateViewCnt">
  update QA set viewcnt = viewcnt +1 where bno = #{bno}
</update>


 
<insert id="qa_addAttach">
insert into QA_attach(fullname, bno) values (#{fullName}, LAST_INSERT_ID())
</insert> 


<select id="qa_getAttach" resultType="string">
select fullname from QA_attach where bno = #{bno} order by regdate
</select> 

 
<delete id="qa_deleteAttach">
delete from QA_attach where bno = #{bno}
</delete>

<insert id="qa_replaceAttach">
insert into QA_attach(fullname, bno) values (#{fullName}, #{bno})
</insert>
  
 
</mapper>
